<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let questionCard of questionCards; let i=index">
      <div *ngIf="!questionCard.answered">
        <ion-card-header text-wrap>
          <h2><b><div [innerHTML]="questionCard.question"></div></b></h2>
        </ion-card-header>
        
        <ion-list>
          <button text-wrap ion-item *ngFor="let response of questionCard.responses" (click)="checkAnswer(response, questionCard, i)">
            <div [innerHTML]="response"></div>
          </button>

        </ion-list>
      </div>
      <div *ngIf="questionCard.answered">
        {{questionCard.result}}
      </div>

    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
